.container {
	width: 80%;
	margin: 0 auto;
	margin-top: -15px;
	background-color: #ffffff;
}

header {
	background-color: RGB(69,157,245);
	height: 200px;
}


body {
	background-color: gray;
	padding: 0px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.head-right {
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}

.head-left {
	padding-top: 40px;
	font-size: 20px;
	color: #ffffff;
}

li {
	display: block;
	font-size: 15px;
}

h1 {
	font-size: 60px;
	color: #ffffff;
	margin: 0px;
}

.head-right h2 {
	font-size: 20px;
	margin: 0px;
	color: #ffffff;

}

.left-content {
	width: 40%;
	padding-left: 40px;
	padding-right: 20px;
	
}
.right-content {
	width: 40%;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}

h3 {
	display: block;
	
	color: #ffffff;
	height: 27px;
	line-height: 27px;
	font-size: 20px;
}

.pre-title {
	background-color: RGB(69,157,245);
	border-radius:5px;
}

.education {
	border-left: 2px solid #000000;
}

.education>h2:before {
	
}

h2 {
	font-size: 20px;
}
